[submodule "src/Drizzle"]
	path = src/Drizzle
	url = https://github.com/pkhead/Drizzle
	branch = embedded
[submodule "src/ImGui.NET"]
	path = src/ImGui.NET
	url = https://github.com/ImGuiNET/ImGui.NET
