# Visual Studio files
/.vs
/src/Rained/Properties

# MSBuild output
**/bin
**/obj
/build

# Visual Studio Code fieles
/.vscode

# drizzle translated
/src/Drizzle/Drizzle.Ported/Translated

# rained user preferences
/preferences.json

# rained logs
/logs

# some distribution files
/dist/Data