# MSBuild output
**/bin
**/obj
/build

# Visual Studio Code fieles
/.vscode

# Visual Studio files
/.vs
/src/Rained/Properties

# Rained user data
/assets/imgui.ini
/preferences.json

# drizzle translated
/src/Drizzle/Drizzle.Ported/Translated

# rained logs
/logs