# MSBuild output
**/bin
**/obj
/build

# Visual Studio Code fieles
/.vscode

# Visual Studio files
/.vs
/src/Rained/Properties

# ImGui ini file
/assets/imgui.ini

# drizzle translated
/src/Drizzle/Drizzle.Ported/Translated

# rained logs
/logs